In [100]:
from sklearn.preprocessing import StandardScaler, LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [101]:
dataset = pd.read_csv('../datasets/cardata.csv')

In [102]:
dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [103]:
dataset.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [104]:
dataset.duplicated().sum()

2

In [105]:
dataset.drop_duplicates(inplace=True)

In [106]:
dataset.drop(columns=['Car_Name'],inplace=True)

In [107]:
dataset.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [108]:
scaler = StandardScaler()
numeric_cols = ['Present_Price','Kms_Driven']
dataset[numeric_cols] = scaler.fit_transform(dataset[numeric_cols])

In [109]:
# # Define categorical and numeric columns
# from sklearn.compose import ColumnTransformer
# from sklearn.pipeline import Pipeline
# categorical_cols = ['Fuel_Type', 'Seller_Type', 'Transmission', 'Year', 'Owner']
# numeric_cols = ['Selling_Price', 'Present_Price', 'Kms_Driven']

# # Preprocessing steps for numeric and categorical columns
# numeric_transformer = Pipeline(steps=[
#     ('scaler', StandardScaler())
# ])

# categorical_transformer = Pipeline(steps=[
#     ('onehot', OneHotEncoder(sparse_output=False, drop='first'))
# ])

# # Combine preprocessing steps into a ColumnTransformer
# preprocessor = ColumnTransformer(
#     transformers=[
#         ('num', numeric_transformer, numeric_cols),
#         ('cat', categorical_transformer, categorical_cols)
#     ]
# )

In [110]:
dataset.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,-0.228097,-0.254603,Petrol,Dealer,Manual,0
1,2013,4.75,0.233700,0.156181,Diesel,Dealer,Manual,0
2,2017,7.25,0.269942,-0.770651,Petrol,Dealer,Manual,0
3,2011,2.85,-0.396448,-0.814297,Petrol,Dealer,Manual,0
4,2014,4.60,-0.078451,0.142061,Diesel,Dealer,Manual,0

In [111]:
dataset.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,-0.228097,-0.254603,Petrol,Dealer,Manual,0
1,2013,4.75,0.233700,0.156181,Diesel,Dealer,Manual,0
2,2017,7.25,0.269942,-0.770651,Petrol,Dealer,Manual,0
3,2011,2.85,-0.396448,-0.814297,Petrol,Dealer,Manual,0
4,2014,4.60,-0.078451,0.142061,Diesel,Dealer,Manual,0

In [112]:
# One-hot encode the categorical columns
categorical_cols = ['Fuel_Type', 'Seller_Type', 'Transmission','Year','Owner']
onehotencoder = OneHotEncoder(sparse_output=False, drop='first')  # Use drop='first' to avoid dummy variable trap
encoded_categorical = onehotencoder.fit_transform(dataset[categorical_cols])

# Get the names of the one-hot encoded columns
encoded_categorical_cols = onehotencoder.get_feature_names_out(categorical_cols)

# Convert the encoded array to a DataFrame
encoded_categorical_df = pd.DataFrame(encoded_categorical, columns=encoded_categorical_cols)

# Combine the encoded categorical columns with the numeric columns
final_dataset = pd.concat([encoded_categorical_df, dataset[numeric_cols].reset_index(drop=True)], axis=1)

In [113]:
# Apply the preprocessor pipeline
# final_dataset = preprocessor.fit_transform(dataset)

# final_dataset.head()

In [114]:
final_dataset.head()

,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual,Year_2004,Year_2005,Year_2006,Year_2007,Year_2008,Year_2009,...,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,Owner_1,Owner_3,Present_Price,Kms_Driven
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.228097,-0.254603
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.233700,0.156181
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.269942,-0.770651
3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.396448,-0.814297
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.078451,0.142061

In [115]:
x_train,x_test,y_train,y_test = train_test_split(final_dataset,dataset['Selling_Price'],test_size=0.2,random_state=0)

In [116]:
import torch
x_train_torch = torch.tensor(x_train.values, dtype=torch.float32)
y_train_torch = torch.tensor(y_train.values, dtype=torch.float32)

x_test_torch = torch.tensor(x_test.values, dtype=torch.float32)
y_test_torch = torch.tensor(y_test.values, dtype=torch.float32)

In [124]:
from torch.utils.data import Dataset,DataLoader
class CustomDataset(Dataset):
    def __init__(self,x,y):
        self.x = x
        self.y = y
    def __getitem__(self,index):
        return self.x[index],self.y[index]
    def __len__(self):
        return len(self.x)
    
x_train_dataset = CustomDataset(x_train_torch,y_train_torch)
x_test_dataset = CustomDataset(x_test_torch,y_test_torch)

x_train_dataloader = DataLoader(x_train_dataset,batch_size=32,shuffle=True)
x_test_dataloader = DataLoader(x_test_dataset,batch_size=32,shuffle=True)

In [120]:
for x,y in x_train_dataloader: print(x.shape); break #x_train_dataloader

torch.Size([32, 23])

In [125]:
class SimpleANN(torch.nn.Module):
    def __init__(self):
        super(SimpleANN, self).__init__()
        self.fc1 = torch.nn.Linear(23, 6)
        self.relu = torch.nn.ReLU()
        self.fc2 = torch.nn.Linear(6, 1)
    def forward(self, x):
        x = self.fc1(x)
        x = self.relu(x)
        x = self.fc2(x)
        return x
    
model = SimpleANN()

criterion = torch.nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

for epoch in range(100):
    for x, y in x_train_dataloader:
        y_pred = model(x)
        optimizer.zero_grad()
        loss = criterion(y_pred, y.unsqueeze(1))
        loss.backward()
        optimizer.step()
    print(f'Epoch {epoch+1}, Loss: {loss.item()}')

with torch.no_grad():
    for x, y in x_test_dataloader:
        y_pred = model(x)
        loss = criterion(y_pred, y.unsqueeze(1))
        print(f'Test Loss: {loss.item()}')

Epoch 1, Loss: 77.7153091430664
Epoch 2, Loss: 40.50270462036133
Epoch 3, Loss: 37.0759162902832
Epoch 4, Loss: 32.263099670410156
Epoch 5, Loss: 5.230855464935303
Epoch 6, Loss: 4.42748498916626
Epoch 7, Loss: 34.28348922729492
Epoch 8, Loss: 3.8330318927764893
Epoch 9, Loss: 3.2741055488586426
Epoch 10, Loss: 2.2947115898132324
Epoch 11, Loss: 8.41991138458252
Epoch 12, Loss: 14.043538093566895
Epoch 13, Loss: 2.4238200187683105
Epoch 14, Loss: 6.750275135040283
Epoch 15, Loss: 0.8135194778442383
Epoch 16, Loss: 0.25722581148147583
Epoch 17, Loss: 0.7350577712059021
Epoch 18, Loss: 4.046085834503174
Epoch 19, Loss: 1.9676432609558105
Epoch 20, Loss: 1.1267317533493042
Epoch 21, Loss: 1.4085338115692139
Epoch 22, Loss: 0.9036385416984558
Epoch 23, Loss: 0.566102147102356
Epoch 24, Loss: 1.6144317388534546
Epoch 25, Loss: 2.2542738914489746
Epoch 26, Loss: 6.3690876960754395
Epoch 27, Loss: 2.832512855529785
Epoch 28, Loss: 0.8578278422355652
Epoch 29, Loss: 6.3398895263671875
Epoch 30, Loss: 1.0324618816375732
Epoch 31, Loss: 0.6177200078964233
Epoch 32, Loss: 4.486920356750488
Epoch 33, Loss: 1.4415112733840942
Epoch 34, Loss: 0.4556167721748352
Epoch 35, Loss: 0.3568277955055237
Epoch 36, Loss: 0.1862187683582306
Epoch 37, Loss: 0.8203137516975403
Epoch 38, Loss: 0.4009960889816284
Epoch 39, Loss: 0.8238604068756104
Epoch 40, Loss: 1.9278262853622437
Epoch 41, Loss: 0.19262386858463287
Epoch 42, Loss: 4.399244785308838
Epoch 43, Loss: 8.028587341308594
Epoch 44, Loss: 0.9794016480445862
Epoch 45, Loss: 1.4823120832443237
Epoch 46, Loss: 4.060007095336914
Epoch 47, Loss: 0.4159911274909973
Epoch 48, Loss: 4.135862350463867
Epoch 49, Loss: 0.3580314815044403
Epoch 50, Loss: 0.31984397768974304
Epoch 51, Loss: 0.5241841077804565
Epoch 52, Loss: 0.887437641620636
Epoch 53, Loss: 1.6861205101013184
Epoch 54, Loss: 0.9222273230552673
Epoch 55, Loss: 0.6388337016105652
Epoch 56, Loss: 0.1768699586391449
Epoch 57, Loss: 1.4392791986465454
Epoch 58, Loss: 0.5199307799339294
Epoch 59, Loss: 0.4995450973510742
Epoch 60, Loss: 0.11526482552289963
Epoch 61, Loss: 0.3588976263999939
Epoch 62, Loss: 4.680452823638916
Epoch 63, Loss: 0.6282936334609985
Epoch 64, Loss: 0.36207976937294006
Epoch 65, Loss: 0.352910578250885
Epoch 66, Loss: 0.4950893223285675
Epoch 67, Loss: 2.7241623401641846
Epoch 68, Loss: 0.42194321751594543
Epoch 69, Loss: 2.4689860343933105
Epoch 70, Loss: 1.0846246480941772
Epoch 71, Loss: 0.5195358991622925
Epoch 72, Loss: 0.6474648118019104
Epoch 73, Loss: 0.6332212686538696
Epoch 74, Loss: 1.036149024963379
Epoch 75, Loss: 0.966998815536499
Epoch 76, Loss: 1.3620014190673828
Epoch 77, Loss: 1.1700588464736938
Epoch 78, Loss: 0.42720574140548706
Epoch 79, Loss: 0.38438931107521057
Epoch 80, Loss: 1.234421968460083
Epoch 81, Loss: 1.4411628246307373
Epoch 82, Loss: 3.0082669258117676
Epoch 83, Loss: 1.2421989440917969
Epoch 84, Loss: 1.0776463747024536
Epoch 85, Loss: 0.12086399644613266
Epoch 86, Loss: 0.7155210375785828
Epoch 87, Loss: 0.22000475227832794
Epoch 88, Loss: 0.9369248747825623
Epoch 89, Loss: 0.8708826899528503
Epoch 90, Loss: 1.0703920125961304
Epoch 91, Loss: 0.825212836265564
Epoch 92, Loss: 1.0228248834609985
Epoch 93, Loss: 0.5957385301589966
Epoch 94, Loss: 0.639619767665863
Epoch 95, Loss: 1.0208386182785034
Epoch 96, Loss: 0.6805694103240967
Epoch 97, Loss: 0.1566377580165863
Epoch 98, Loss: 2.3939034938812256
Epoch 99, Loss: 0.5224552750587463
Epoch 100, Loss: 0.7923789620399475
Test Loss: 1.3484916687011719
Test Loss: 3.967791795730591